Repository Inikoo-Ltd/aiku, pull requests merged in 2025-08, with the labels that each got.

#2025 migration and model for platform stast each shop
  app/Actions/CRM/Platform/UI/IndexPlatforms.php
  app/Actions/Catalogue/Shop/HydrateShops.php
  app/Actions/Catalogue/Shop/Hydrators/ShopHydratePlatformStats.php
  app/Actions/Catalogue/Shop/StoreShop.php
  app/Actions/Catalogue/Shop/StoreShopPlatformStats.php
  app/Actions/Catalogue/ShopPlatformStats/ShopPlatformStatsHydrateCustomerSalesChannel.php
  app/Actions/Catalogue/ShopPlatformStats/ShopPlatformStatsHydrateCustomers.php
  app/Actions/Catalogue/ShopPlatformStats/ShopPlatformStatsHydrateOrders.php
  app/Actions/Catalogue/ShopPlatformStats/ShopPlatformStatsHydratePortfolios.php
  app/Actions/Dropshipping/CustomerSalesChannel/StoreCustomerSalesChannel.php
  app/Actions/Dropshipping/Portfolio/StorePortfolio.php
  app/Actions/Maintenance/SysAdmin/AddMissingPlatformStatToShops.php
  app/Actions/Ordering/Order/HasOrderHydrators.php
  app/Http/Resources/Platform/ShopPlatformStatsResource.php
  app/Models/Catalogue/Shop.php
  app/Models/Catalogue/ShopPlatformStats.php
  database/migrations/2025_07_30_100729_create_shop_platform_stats_table.php
Labels: Manual Review Time 20-30 min

#2074 Languages options for a group
  app/Actions/Catalogue/Shop/UI/EditShop.php
  app/Actions/Catalogue/Shop/UpdateShop.php
  app/Actions/Helpers/Language/UI/GetLanguagesOptions.php
  app/Actions/SysAdmin/Group/UI/EditGroupSettings.php
  app/Actions/SysAdmin/Group/UpdateGroupSettings.php
  app/Models/Catalogue/Shop.php
  app/Models/SysAdmin/Group.php
  database/migrations/2025_08_11_090327_add_extra_languages_to_groups_table.php
Labels: Manual Review Time 30-60 min

#1971 fix transaction id and order id and add refunds
  app/Actions/Accounting/Invoice/WithInvoicesExport.php
  app/Actions/Ordering/Order/GenerateInvoiceFromOrder.php
  resources/views/invoices/templates/pdf/invoice.blade.php
Labels: Manual Review Time 10-20 min

#2055 2053 order excess payment add to balance
  app/Actions/Ordering/Order/AddBalanceFromExcessPaymentOrder.php
  app/Actions/Ordering/Order/UI/IndexOrders.php
  app/Actions/Ordering/Order/UI/IndexOrdersExcessPayment.php
  app/Actions/Ordering/UI/ShowOrderingDashboard.php
  app/Actions/Retina/Ecom/Basket/UI/IsOrder.php
  app/Enums/UI/Ordering/OrdersTabsEnum.php
  app/Http/Resources/Ordering/OrdersResource.php
  resources/js/Components/Utils/NeedToPay.vue
  resources/js/Composables/useLocaleStructure.ts
  resources/js/Layouts/Grp.vue
  resources/js/Pages/Grp/Ordering/Orders.vue
  resources/js/Pages/Grp/Org/Ordering/Order.vue
  resources/js/Pages/Grp/Org/Ordering/OrderingDashboard.vue
  routes/grp/web/models/ordering/order.php
Labels: Manual Review Time 30-60 min

#2138 2136 workshop product recommenders
  app/Actions/Web/Webpage/UI/ShowWebpageWorkshop.php
  app/Actions/Web/Webpage/UI/ShowWebpageWorkshopPreview.php
  resources/js/Components/CMS/Webpage/RecommendersLuigi/RecommendersLuigi1Iris.vue
  resources/js/Components/CMS/Webpage/SeeAlso1/RecommendersLuigi1Iris.vue
  resources/js/Components/CMS/Webpage/SeeAlso1/RecommendersLuigi1Workshop.vue
  resources/js/Components/CMS/Webpage/SeeAlso1/SeeAlso1Iris.vue
  resources/js/Components/CMS/Webpage/SeeAlso1/SeeAlso1Workshop.vue
  resources/js/Components/Workshop/Properties/SelectProducts.vue
  resources/js/Composables/useFormatTime.ts
  resources/js/Composables/useRetinaLayoutStructure.ts
  resources/js/Layouts/Grp.vue
  resources/js/Pages/Grp/Org/Web/WebpageWorkshop.vue
  resources/js/Pages/Grp/Web/PreviewWebpageWorkshop.vue
Labels: Manual Review Time 20-30 min
